<ul>
  <li>
    <a href="/objandarray">Object and Array</a>
  </li>
  <li>
    <a href="/jsonfetch">Json Fetch</a>
  </li>
  <li>
    <a href="/pipe">Pipe</a>
  </li>
  <li>
    <a href="/api">Api</a>
  </li>
  <li>
    <a href="/imgapi">Image Api Calling</a>
  </li>
  <li>
    <a href="/databinding">Databinding</a>
  </li> 
  <li>
    <a href="/async">Async</a>
  </li> 
  <li>
    <a href="/parent">parent</a>
  </li> 
  <li>
    <a href="/directive">Directive</a>
  </li>  
  <li>
    <a href="/showhide">Showhide</a>
  </li>  
</ul>
<router-outlet></router-outlet>

