<!-- <h1>Image call in api</h1>
<h1>{{hero}}</h1>
 <input type="text"  [(ngModel)]="element" />
 <table>
   <tr>
     <th>{{hero1.name}}</th>
     <th>{{hero1.dep}}</th>
   </tr> -->

   <!-- <table id='customers'>
    <tr>
        <th>name</th>
        <th>duration</th>
        <th>Astrology</th>
        <th>Astrology</th>
    </tr> 
    <tr>
        <td>{{hero2.name}}</td>
        <td>{{hero2.duration}}</td>
        <td>
            <i [ngClass]="hero2.ZodicClassName"></i>
           
             {{hero2.ZodicClassName}} 
         </td>
       
       
        <td>{{hero2.textColor}}</td>
        
    </tr>
    
  </table>  
   -->


  <!-- <table id='customers'>
    <tr>
        <th>name</th>
        <th>duration</th>
        <th>Astrology</th>
        <th>Astrology</th>
    </tr>
    <tr *ngFor='let data of datadetails'>
        <th>{{data.name}}</th>
        <th>{{data.duration}}</th>
        <th>
            <i [ngClass]="data.ZodicClassName"></i>
           
             {{data. ZodicClassName}} 
         </th>
       
       
        <th>{{data.textColor}}</th>
        
    </tr>
    
  </table>   -->

  <!-- <div class="container">
    <div class="row">
      <div class="col">
        1 of 2
      </div>
      <div class="col">
        2 of 2
      </div>
    </div>
    <div class="row">
      <div class="col">
        1 of 3
      </div>
      <div class="col">
        2 of 3
      </div>
      <div class="col">
        3 of 3
      </div>
    </div>
  </div> -->
 
  <!-- <p>
     <span style="color:red">{{ childMessage }}</span>
    </p> --> 
<div class="con">
  <div class="img">
    
    
       <a href=""><i [ngClass]="hero2.ZodicClassName"></i></a> 
         <br/>
        <h2 class="heading">{{hero2.name}}</h2>
      </div>
      
       
     </div>   
 

    


<!-- <div *ngFor='let class of datadetails'>
  <i [ngClass]="class.ZodicClassName"></i>
</div>

<div *ngFor='let class of datadetails'>
  <i [ngClass]="class.ZodicClassName"></i>
</div> -->
 

<!-- <div *ngFor='let img of imgfile'>
  <i [ngClass]="img.imges1ClassName"></i>
</div>  -->
